<app-navbar></app-navbar>

<div class="image-div">
  <div class="bnr">
    <img src="assets/Image/about.jpg" alt="Background Image">
    <!-- <div class="content-1">
      <h1>Don’t Just Dream,
        Do. With Us.</h1>
    </div> -->
  </div>

</div>

<div class="container">
  <div class="heading-sm">
    <h4>We Believe In</h4>
  </div>
  <div class="heading-main">
    <h2>Action. Community. Quality.</h2>
  </div>
  <div class="peragraph">
    <p>At Work Hunter, it’s our mission to grow and cultivate the world’s largest digital marketplace, a place where people
      can find and purchase any service they need, and build any business they dream. As an employee, your work is
      inspired by the success of our users and the celebration of your own personal growth. Join us.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="utf_grid_job_widget_area">

      <div class="u-content">
        <div class="avatar box-80"> <a href="employer-detail.html"> <img class="img-responsive"
              src="assets/Image/company_logo_1.png" alt=""> </a> </div>
        <h5><a href="employer-detail.html">Product Redesign</a></h5>
        <p class="text-muted">2708 Scenic Way, IL 62373</p>
      </div>
      <div class="utf_apply_job_btn_item"> <a class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
    </div>
  </div>

  <!-- Single Job -->
  <div class="col-md-3 col-sm-6">
    <div class="utf_grid_job_widget_area">

      <div class="u-content">
        <div class="avatar box-80"> <a href="employer-detail.html"> <img class="img-responsive"
              src="assets/Image/company_logo_2.png" alt=""> </a> </div>
        <h5><a href="employer-detail.html">New Product Mockup</a></h5>
        <p class="text-muted">2708 Scenic Way, IL 62373</p>
      </div>
      <div class="utf_apply_job_btn_item"> <a class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
    </div>
  </div>

  <!-- Single Job -->
  <div class="col-md-3 col-sm-6">
    <div class="utf_grid_job_widget_area">

      <div class="u-content">
        <div class="avatar box-80"> <a href="employer-detail.html"> <img class="img-responsive"
              src="assets/Image/company_logo_3.png" alt=""> </a> </div>
        <h5><a href="employer-detail.html">Custom Php Developer</a></h5>
        <p class="text-muted">3765 C Street, Worcester</p>
      </div>
      <div class="utf_apply_job_btn_item"> <a class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
    </div>
  </div>

  <!-- Single Job -->
  <div class="col-md-3 col-sm-6">
    <div class="utf_grid_job_widget_area">

      <div class="u-content">
        <div class="avatar box-80"> <a href="employer-detail.html"> <img class="img-responsive"
              src="assets/Image/company_logo_4.png" alt=""> </a> </div>
        <h5><a href="employer-detail.html">Wordpress Developer</a></h5>
        <p class="text-muted">2719 Duff Avenue, Winooski</p>
      </div>
      <div class="utf_apply_job_btn_item"> <a class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
    </div>
  </div>

  <!-- Single Job -->
  <div class="col-md-3 col-sm-6">
    <div class="utf_grid_job_widget_area">

      <div class="u-content">
        <div class="avatar box-80"> <a href="employer-detail.html"> <img class="img-responsive"
              src="assets/Image/company_logo_5.png" alt=""> </a> </div>
        <h5><a href="employer-detail.html">Web Maintenence</a></h5>
        <p class="text-muted">2708 Scenic Way, IL 62373</p>
      </div>
      <div class="utf_apply_job_btn_item"> <a class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
    </div>
  </div>

  <!-- Single Job -->
  <div class="col-md-3 col-sm-6">
    <div class="utf_grid_job_widget_area">

      <div class="u-content">
        <div class="avatar box-80"> <a href="employer-detail.html"> <img class="img-responsive"
              src="assets/Image/company_logo_6.png" alt=""> </a> </div>
        <h5><a href="employer-detail.html">Photoshop Designer</a></h5>
        <p class="text-muted">2865 Emma Street, Lubbock</p>
      </div>
      <div class="utf_apply_job_btn_item"> <a class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
    </div>
  </div>

  <!-- Single Job -->
  <div class="col-md-3 col-sm-6">
    <div class="utf_grid_job_widget_area">

      <div class="u-content">
        <div class="avatar box-80"> <a href="employer-detail.html"> <img class="img-responsive"
              src="assets/Image/company_logo_7.png" alt=""> </a> </div>
        <h5><a href="employer-detail.html">HTML5 & CSS3 Coder</a></h5>
        <p class="text-muted">2719 Burnside Avenue, Logan</p>
      </div>
      <div class="utf_apply_job_btn_item"> <a class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
    </div>
  </div>

  <!-- Single Job -->
  <div class="col-md-3 col-sm-6">
    <div class="utf_grid_job_widget_area">

      <div class="u-content">
        <div class="avatar box-80"> <a href="employer-detail.html"> <img class="img-responsive"
              src="assets/Image/company_logo_8.png" alt=""> </a> </div>
        <h5><a href="employer-detail.html">.Net Developer</a></h5>
        <p class="text-muted">3815 Forest Drive, Alexandria</p>
      </div>
      <div class="utf_apply_job_btn_item"> <a class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
    </div>
  </div>
</div>
<app-footer></app-footer>