<!-- <div >
<ul id="dropdown1" class="dropdown-content"  >
  <li><a href="#!">one</a></li>
  <li><a routerLink="/application">Application</a></li>
  <li class="divider"></li>
  <li><a routerLink="/logout" >Logout</a></li>
</ul></div> -->
<nav class="cyan lighten-1">
  <div class="nav-wrapper">
    <a class="brand-logo animate__animated animate__bounce" routerLink="/home">Work Hunter</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/home" class="about">Home</a></li>
      <li><a routerLink="/about" class="about">About Us</a></li>
      <li><a routerLink="/contect" class="contact">Contect</a></li>
      <li>
  <a routerLink="/login" id="btn" class="waves-effect waves-light btn cyan light-2 btn-small z-depth-3">Login</a>
</li>
<li>
  <a routerLink="/signup" id="btn" class="waves-effect waves-light btn cyan light-2 btn-small z-depth-3">Sign
    Up</a>
</li>

      <!-- Dropdown Trigger -->
     
      <!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li> -->
    </ul>
  </div>
</nav>
<ul class="sidenav " id="mobile-demo">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/about">About Us</a></li>
  <li><a routerLink="/contect">Contact Us</a></li>

  <li><a routerLink="/login" >Login</a></li>
  <li><a routerLink="/signup">Sign Up</a></li>

  <!-- <li><a routerLink="logout" >Logout</a></li> -->

  <!-- <li><a routerLink="/application" >Application</a></li> -->

</ul>

<!-- <router-outlet></router-outlet> -->
<!-- <li>
  <a routerLink="/login" id="btn" class="waves-effect waves-light btn cyan light-2 btn-small z-depth-3">Login</a>
</li>
<li>
  <a routerLink="/signup" id="btn" class="waves-effect waves-light btn cyan light-2 btn-small z-depth-3">Sign
    Up</a>
</li> -->