<div class="row" style="width: 1275px">
  <div class="col-12">
    <img src="assets/Image/selection-bg.jpg" alt="bg" id="img-bg"
      style="margin-bottom: -776px; margin-top: -290px; width: inherit" />
    <div class="text">
      <h2>SignUp</h2>
      <h5>Select An Account Type</h5>
    </div>

    <div class="card-style" style="text-align: center">
      <div class="card" style="width: 15rem; display: inline-table" id="card-1">
        <img src="assets/Image/admin.png" class="card-img-top" alt="Avtar" height="120" />
        <div class="card-body">
          <h4 class="card-title">Employer</h4>
          <p class="card-text">( I Want To Hire)</p>
          <a routerLink="/signup/employe" class="btn btn-outline-success btn-sm"  style="height: 30px">Employer</a>
        </div>
      </div>
      <div class="card" style="width: 8rem; display: inline-table" id="card"></div>
      <div class="card" style="width: 15rem; display: inline-table" id="card-2">
        <img src="assets/Image/user.png" class="card-img-top" alt="Avtar" height="120" />
        <div class="card-body">
          <h4 class="card-title">Freelancer</h4>
          <p class="card-text">(I Am Looking For Work)</p>
          <a routerLink="/signup/freelancer" class="btn btn-outline-success btn-sm" style="height: 30px">Freelancer</a>
        </div>
      </div>
    </div>
  </div>
</div>