<section>
  <div class="row-1">
    <div class="col-md-6">
      <div class="text">
        <h1 id="h1">Join the world's work marketplace</h1>
        <p>
          Find great talent. Build your business. Take your career to the next
          level.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="slider">
        <!-- <img src="assets/Image/xyz.jpeg"> -->
      </div>
    </div>
  </div>
</section>
<!-- section-2 -->
<div class="row">
  <div id="banner">
    <div class="bg-image ">
      <img src="assets/Image/shutters-2.jpg" alt="section-2" />
      <div class="bg-text">
        <h2>Find talent your way</h2>
        <pre>
          Work with the largest network of independent professionals and get
          things done—from quick turnarounds to big transformations.
        </pre>
        <a class="waves-effect waves-light transparent hoverable btn-large" >Hire For Work</a>
        <a class="waves-effect waves-light transparent hoverable btn-large" >Browse Work</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div id="content">
    <div class="sec-text">
      <h1>Need something done?</h1>
    </div>
    <div class="row">
      <div class="col s6 m6 l6">
        <div class="card">
          <div class="card-content  black-text">
            <!-- <div class="laptop"><i class="fa fa-laptop"></i> </div> -->
            <span class="card-title">Post a job</span>
            <p>It’s free and easy to post a job. Simply fill in a title, description and budget and competitive bids
              come within minutes.</p>
          </div>
        </div>
      </div>
      <div class="col s6 m6 l6">
        <div class="card ">
          <div class="card-content  black-text">
            <!-- <div class="user"> <i class="fa fa-users" aria-hidden="true"></i></div> -->
            <span class="card-title">Choose freelancers</span>
            <p>No job is too big or too small. We've got freelancers for jobs of any size or budget, across 1800+
              skills. No job is too complex. We can get it done!</p>
          </div>
        </div>
      </div>
      <div class="col s6 m6 l6">
        <div class="card">
          <div class="card-content  black-text">
            <!-- <div class="pay"> <i class="fa fa-credit-card-alt" id="card" aria-hidden="true"></i></div>  -->
            <span class="card-title">Pay safely</span>
            <p>Only pay for work when it has been completed and you're 100% satisfied with the quality using our
              milestone payment system.</p>
          </div>
        </div>
      </div>
      <div class="col s6 m6 l6">
        <div class="card">
          <div class="card-content black-text">
            <!-- <i class="fa fa-info-circle" id="info" aria-hidden="true"></i> -->
            <span class="card-title">We’re here to
              help</span>
            <p>Our talented team of recruiters can help you find the best freelancer for the job and our technical
              co-pilots can even manage the project for you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div id="content">
    <div class="sec-text">
      <h1>What's great about it?</h1>
    </div>
    <div class="row">
      <div class="col s12 m3">
        <div class="card">
          <div class="card-content  black-text">
            <!-- <div class="laptop"><i class="fa fa-laptop"></i> </div> -->
            <span class="card-title">Browse portfolios</span>
            <p>Find professionals you can trust by browsing their samples of previous work and reading their profile
              reviews.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card ">
          <div class="card-content  black-text">
            <!-- <div class="user"> <i class="fa fa-users" aria-hidden="true"></i></div> -->
            <span class="card-title">Fast bids</span>
            <p>Receive obligation free quotes from our talented freelancers fast. 80% of projects get bid on within 60
              seconds.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-content  black-text">
            <!-- <div class="pay"> <i class="fa fa-credit-card-alt" id="card" aria-hidden="true"></i></div>  -->
            <span class="card-title">Quality work</span>
            <p>Freelancer.com has by far the largest pool of quality freelancers globally- over 50 million to choose
              from.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-content black-text">
            <!-- <i class="fa fa-info-circle" id="info" aria-hidden="true"></i> -->
            <span class="card-title">Track progress</span>
            <p>Keep up-to-date and on-the-go with our time tracker, and mobile app. Always know what freelancers are up
              to.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>